<body>
  <div style="text-align: center;">
    <h1>Здравствуйте!!!</h1>
    <b>Тренер <span style="color: green; font-size: 18px">{{coach}}</span> опубликовал новую тренировку:</b>
    <h3>{{title}}</h3>
    <img style="width: 330px;" src={{image}} alt={{title}} />
  </div>
</body>
